*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    /* gradient color */
    background: linear-gradient(to right, #B565A7, #641455);

    /* placeing the container  */
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Header Title and text */
header{
    margin: 20px 0px 10px 0px;
    text-align: center;
    background-color: #98B4D4;
    color: #000000;
}
/* RAS Daily Link */
header a{
    text-decoration: none;
}

/* Conterner of Calculator  */
.container{
    width: 1200px;
    height: 100vh;
    background: linear-gradient(to left, #B565A7, #641455);
} 

.calContainer{
    width: 100%;
    height: 100%;

    /* centering the calculator */
    display: flex;
    justify-content: center;


}

.calculator{
    width: 300px;
    height: 225px;
    border-radius: 5px;
    background-color: #955251;
    /* border: 1px solid #955251;
    box-shadow: 5px 8px #98B4D4; */
}

.calHead{
    width: 95%;
    height: 50px;
    margin: 8px;
    border-radius: 3px;
    border: 1px solid #98B4D4;
    display: block;

    background-color: aliceblue;

    display: flex;

}

.calHead .display{
    width: 100%;
    height: 100%;
    /* margin: 15px 5px 0px 0px;     */
}

/* Screen input */
.calHead .display input{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: none;

    padding-right: 5px;
    text-align: end;
    font-size: medium;
    font-weight: 600;
/* cursor will deactivated */
    pointer-events: none;
}
.calHead {
    font-size: 20px;
    font-weight: 600;
    /* TODO: Add a font of calculator */
}

/* ********** Calculator Body Part ********** */
.calBody p{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #ffffff;
    opacity: .4;
    
    /* TODO: Add a font of logo type */
}

/* Calculator Numbers Key And Function key */
.keyContainer{
    width: 95%;
    height: auto;

    display: flex;
}
/* On/Off key */
/* on key */
.keyOn{
    width: 100%;
    margin: 2px;
    color:aliceblue;
    background-color: #117e03;
    border-color: #117e03;
}
/* off key */
.keyOff{
    width: 100%;
    margin: 2px;
    color:aliceblue;
    background-color: #af1400;
    border-color: #af1400;
}
/* Number Key */
.keyNum{
    width: 80%;
    margin: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}

/* Funtion key of Calculator */
.keyFunc{
    width: 20%;
    margin: 2px;
    margin-left: 10px;
}

/* key buttons design  */
.key-item{
    margin-left: 5px;
    padding: 1px;
    width: 100%;
    height: auto;
}

#key{
    width: 100%;
    margin: 2px;
    /* key color */
    color:aliceblue;
    background-color: #2e262c;
    border-color: #2e262c;
}
